/*This is the Main Article Layout Grid, css page.
If you want to use this page, follow the instractions below.

1.Create a new template, and give it your 
Article-name.css and link it to your article page.

2.folow the coomments in the code, and make your personal cahnges.

If you have any question conatact Yoav Benzion.

Please don't make any changes to this page!!
Thank you !!
*/

/*Change the url to your own article main img.*/

/*FONT HEBREW*/
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body {
    font-family: "Open Sans Hebrew","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main_header {
  direction: ltr;
  text-align: center;
}

.center_header {
  text-align: center;
}

.grid_con {
    margin: 0 10%;
    direction: rtl;
}

/*Code Snippets*/
code{
    direction: ltr;
    text-align: left;
    border-left : 3px solid purple;
}

img {
  margin: 0 5%;
  width: 90%;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
  background-color: #FFF;
}

/*Go to top finger icon*/

#top{
  font-size: 2em;
  text-decoration: none;
  position: fixed;
  right: 20px;
  bottom: 1rem;
  color: #000;
}



/*Main Article Layout Grid*/
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 600px 500px;
    grid-template-areas:
            "img img img"
            "text text text "
            "text text text ";
}

.box1 {
    grid-area:img ;
    display: flex;
    justify-content: space-around;
}

.box1 ul{
    text-align: center;
    color:white;
    align-self: center;
    padding-left: 0;
    text-shadow: 1px 1px 1px black;

}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: url("./fonts/OpenSansHebrew-Regular.ttf");
}

.box1 ul li{
    font-size: 2em;

}

.menu{
    display: none;
    cursor: pointer;
}

.menu a,.menu a:hover{
    text-decoration: none;
    color:white;
}
.grid_con {
    grid-area:text ;
    text-align: right;
}

code{
    direction: ltr;
    text-align: left;
}
/***************************
RESPONSIVE Layout -Mobile 
*****************************/

/*Article Body Grid*/

/*By changing the Grid-template-Rows, you can ajust the 
page to the size of the content*/

@media  (max-width: 450px) {
  
   #overlay{
    position: fixed; 
    width: 100%; 
    height: 35%; 
    top: 180px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 100;
    
}

#overlayContent{
    position: fixed; 
    width: 80%;
    height: 100%;
    top: 200px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}

#contentGallery{
    margin: 0px auto;
}

#imgBigError, #imgSmallError{
    cursor: pointer;
 }
  #imgBigError {
    width: 100%;
    margin: 0 auto;
  }
}

/*********************************
RESPONSIVE Layout -Tablet - Medium 
**********************************/


@media (min-width: 450px) and (max-width: 540px) {

    .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 100px;
        grid-template-areas: "img img img img" "text text text text " "text text text text";
    }

    .box1 {
        grid-area: img;
    }

    .box1 ul li {
        font-size: 2.5em;
    }

    .grid_con {
        grid-area: text;
        text-align: right;
    }
  
  #overlay{
    position: fixed; 
    width: 100%; 
    height: 80%; 
    top: 50px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 100;
    
}

#overlayContent{
    position: fixed; 
    width: 80%;
    height: 100%;
    top: 200px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}

#contentGallery{
    margin: 0px auto;
}

#imgBigError, #imgSmallError{
    cursor: pointer;
}

}
    /*************************************************
    RESPONSIVE Layout -DeskTop and Big Fucking Screens
    **************************************************/

    /*Desktop Resizing - Small*/

    @media (min-width: 891px) and (max-width: 1019px) {

        .container {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 320px 320px 380px ;
            grid-template-areas:
                    "text text img img "
                    "text text img img "
                    "text text img img ";
        }

        .box1 {
            grid-area:img;
            position: fixed;
            top: 0;
            right: 0;
            width: 45%;
            height: 100%;
        }
        .box1 ul li{
            font-size: 3.5em;
        }
        .box2 {
            grid-area:text ;
        }

    }

    @media (min-width: 1020px) {


        .container {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 320px 320px 380px ;
            grid-template-areas:
                    "text text img img "
                    "text text img img "
                    "text text img img ";
        }

        .box1 {
            grid-area:img ;
            position: fixed;
            top: 0;
            right: 0;
            width: 45%;
            height: 100%;
        }
        .box1 ul li{
            font-size: 3.5em;
            line-height: 2em;
        }
        .box2 {
            grid-area:text ;
        }
      
       #top {
          right: 700px;
      }

    }