/*This is the Main Article Footer.css page.
If you want to use this page, follow this instractions.

if you want to use it without making changes you can just link to it (:

1.Create a new template, and give it your 
Article-name-footer.css and link it to your article page.

2.foolow the coomments in the code, and make your personal cahnges.

If you have any question conatact Yoav Benzion.

Please don't make any changes to this page!!
Thank you !!
*/

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/*****************************************
RESPONSIVE Layout -Mobile - Small PopUp
*****************************************/


/*Mobile Devices*/

@media (min-device-width:290px) and (max-device-width: 449px) {
    /*social icon in popup*/

    p>a:hover {
/*        color: #d9d9d9;*/
        text-decoration: underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 1.2em;
        direction: ltr;
        text-align: center;
    }
    .avatar {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: block;
        margin: 5px auto;
    }
    ul {
        margin: 0;
        list-style: none;
    }
    .footer-social-icons {
        display: block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        /*  margin: 10px;*/
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 50px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }
    .fa-facebook {
        padding: 10px 14px;
        width: 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-github {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #9C4BE8;
    }
    .fa-codepen {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-codepen:hover {
        background-color: #e64a41;
    }
    .fa-linkedin {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-stack-overflow {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-stack-overflow:hover {
        background-color: #e25714;
    }
}


/*Desktop Resizing - Small*/

@media (min-width: 290px) and (max-width: 449px) {
    /*social icon in popup*/

    p>a:hover {
/*        color: #d9d9d9;*/
        text-decoration: underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 1.2em;
        direction: ltr;
        text-align: center;
    }
    .avatar {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: block;
        margin: 5px auto;
    }
    ul {
        margin: 0;
        list-style: none;
    }
    .footer-social-icons {
        display: block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 50px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }
    .fa-facebook {
        padding: 10px 14px;
        width: 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-github {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #9C4BE8;
    }
    .fa-codepen {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-codepen:hover {
        background-color: #e64a41;
    }
    .fa-linkedin {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-stack-overflow {
        padding: 10px 14px;
        width: 16px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-stack-overflow:hover {
        background-color: #e25714;
    }
}


/*****************************************
RESPONSIVE Layout -Tablet - Medium PopUp
*****************************************/


/*Tablet Devices*/


@media (min-width: 450px) and (max-width: 550px) {
    /*social icon in popup*/

    p>a:hover {
/*        color: #d9d9d9;*/
        text-decoration: underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 1.2em;
        direction: ltr;
        text-align: center;
    }
    .avatar {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: block;
        margin: 5px auto;
    }
    ul {
        margin: 0;
        list-style: none;
    }
    .footer-social-icons {
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 40px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }
    .fa-facebook {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding: 10px 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-github {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #9C4BE8;
    }
    .fa-codepen {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-codepen:hover {
        background-color: #e64a41;
    }
    .fa-linkedin {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-stack-overflow {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-stack-overflow:hover {
        background-color: #e25714;
    }
}

/*Desktop Resizing - Medium*/


@media (min-width: 550px) and (max-width: 890px) {
    /*social icon in popup*/

    p>a:hover {
/*        color: #d9d9d9;*/
        text-decoration: underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 1.2em;
        direction: ltr;
        text-align: center;
    }
    .avatar {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: block;
        margin: 5px auto;
    }
    ul {
        margin: 0;
        list-style: none;
    }
    .footer-social-icons {
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        width: 400px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 40px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }
    .fa-facebook {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding: 10px 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-github {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #9C4BE8;
    }
    .fa-codepen {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-codepen:hover {
        background-color: #e64a41;
    }
    .fa-linkedin {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-stack-overflow {
        padding: 10px 14px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-stack-overflow:hover {
        background-color: #e25714;
    }
}


/*****************************************
RESPONSIVE Layout -DeskTop and Big Fucking Screens
*******************************************/


@media (min-width: 891px) and (max-width: 1019px) {
    /*social icon in popup*/

    p>a:hover {
/*        color: #d9d9d9;*/
        text-decoration: underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 1.2em;
        direction: ltr;
        text-align: center;
    }
    .avatar {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: block;
        margin: 5px auto;
    }
    ul {
        margin: 0;
        list-style: none;
    }
    .footer-social-icons {
        display: block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
        margin: 8px;
    }
    ul.social-icons {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        width: 400px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 50px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
    .fa-facebook {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-github {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #9C4BE8;
    }
    .fa-codepen {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-codepen:hover {
        background-color: #e64a41;
    }
    .fa-linkedin {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-stack-overflow {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-stack-overflow:hover {
        background-color: #e25714;
    }
}


/**/


@media (min-width: 1020px) {
    /*social icon in popup*/

    p>a:hover {
/*        color: #d9d9d9;*/
        text-decoration: underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 1.2em;
        direction: ltr;
        text-align: center;
    }
    .avatar {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: block;
        margin: 5px auto;
    }
    ul {
        margin: 0;
        list-style: none;
    }
    .footer-social-icons {
        display: block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
        margin: 8px;
    }
    ul.social-icons {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        width: 400px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 50px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
    .fa-facebook {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-github {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #9C4BE8;
    }
    .fa-codepen {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-codepen:hover {
        background-color: #e64a41;
    }
    .fa-linkedin {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-stack-overflow {
        padding: 10px 14px;
        width: 12px;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-stack-overflow:hover {
        background-color: #e25714;
    }
}