@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

footer {
  background-color: #eee;
  text-align: center;
  font-family: "Alef Hebrew",
               sans-serif;
  font-size: 1.3rem;
}

footer ul > li {
  list-style: none;
  padding-top: 13px;
  background-color: #000;
/*  border: 1px solid #000;*/
}
footer ul > li:nth-child(odd) {
  color: yellow;
}

footer ul > li:nth-child(even) {
  color: green;
}

footer ul > li:hover {
  background-color: darkgreen;
  font-size: 1.5rem;
  color: #000;
}


footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows:minmax(60px, auto);
  margin-right: -40px;
  grid-gap: 0.5em;
}

.about,
.footer-bottem {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about {
  border-bottom: 1px dotted black;
}
.footer-bottem {
  border-top: 0.5px solid grey;
  font-size: 1rem;
}

