@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
footer {
  background-color: #eee;
  text-align: center;
  font-family: "Alef Hebrew", sans-serif;
  font-size: 1.3rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  justify-content: space-evenly;
}

footer ul>li {
  list-style: none;
  padding: 10px;
}


footer ul>li:hover {
  text-decoration: none;
/*  background-color: #fff;*/
}



.about,
.footer-bottem {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about {
  border-bottom: 1px dotted black;
}

.footer-bottem {
  border-top: 0.5px solid grey;
  font-size: 1rem;
}

