/*new grid*/

.wrapper1 {
  display: grid;
  background-color: darkorange;
  grid-template-columns: fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr ;
  grid-template-areas: "panorama icon article-1"
                      "article-2 icon article-1";
}

.article-line1 {
  grid-area: article-1;
  background-color: chartreuse
}

.icon-blog-line1 {
  grid-area: aicon;
  background-color: aqua
}

.panorama-line1 {
  background-color: crimson
}

.wrapper2 {
  display: grid;
  grid-template-columns: 30% 20% 30%;
}


.wrapper3 {
  display: grid;
  grid-template-columns: 30% 20% 30%;
}


.wrapper4 {
  display: grid;
  grid-template-columns: 30% 20% 30%;
}

