@import url('https://fonts.googleapis.com/css?family=Roboto');

.main{
    cursor: default;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    background: white;
}
@font-face {
    font-family: 'assistant-v1-hebrew-regular';
    src: url("./fonts/assistant-v1-hebrew-regular.ttf");
}
@font-face {
    font-family: 'Open Sans Hebrew', sans-serif;
    src: url("./fonts/OpenSansHebrew-Light.ttf");
}

.logo img{
    width:90px;
}

#index_code {
  text-align: left;
  height: 100%;

}

.navbar{
    font-family: 'assistant-v1-hebrew-regular', sans-serif;
    border-bottom: 1px solid lightgrey;
    box-shadow: 1px 1px 5px lightgrey;
    background: white;
    font-size: 1.25em;
    font-weight: bold;
}

.navbar-light .navbar-toggler{
    border-color:transparent ;

}


a.article_link {
    text-decoration: none;
}

a.article_link:hover {
    color: #fff;
}

.article-title{
    font-size: 3.5em;
}
.article-subtitle{
    font-size: 1.5em;
}
.subscribe:hover{
    cursor:pointer ;

}
.calander{
    width: 1.55rem;
    padding-bottom: 0.2em;
}
/*****************************************
RESPONSIVE Layout -Mobile - 1 article box
*****************************************/

/*Desktop Resizing - Small*/
@media (min-width: 290px) and (max-width: 749px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        color: black;
    }
    .wrapper{
        display: grid;
        direction: ltr;
        grid-auto-rows:350px;
        grid-gap:4em;
    }
    .wrapper > div{
        font-size:1em;
        text-align: center;
        background: rgba(211, 211, 211, 0.85);
        box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
    }

    .box2,.box4,.box8,.box12,.box13, .box11{
        display: none;
    }
    .photo{
        width:2rem;
        border-radius: 100%;
        display: inline;
    }

    .box1{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box1-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/nut-2348816_1280.jpg);
        text-shadow: 1px 1px 4px black;

        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box1-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box3{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box3-title{
        grid-column: 1/2;
        grid-row:1/2;
        grid-area: box3;
        background: url(../img/computer-2557644_1920.jpg);
        text-shadow: 1px 1px 4px black;

        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box3-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box5{
        display: none;

    }

    .box6{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;

    }

    .box6-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/grunt-task-runner.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #fba919;
        width:100%;
        text-shadow: 1px 1px 4px black;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .box6-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box7{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box7-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/computer-2583383_1920.jpg);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box7-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box9{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box9-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/plasma-ball-2282449_1920.jpg);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box9-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box10{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box10-title {
        grid-column: 1/2;
        grid-row: 1/2;
        background: url(../img/es6-recursion.png);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box10-title span:first-child{
        font-size:3em;
    }

    .box10-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }



 /*   .box11{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }
*/

/*    .box11-title{
        grid-column: 1/2;
        grid-row:1/2;
        padding-top: 1rem;
        background: url(../img/coding-1841550_1920.jpg);
        background-size: cover;
        height:100%;
        cursor: default;
    }
*/
    .box11-title span:first-child{
        font-size:3em;
    }

    .box11-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
        cursor: default;
    }
}
/*****************************************
RESPONSIVE Layout -Tablet - 2 article box
*****************************************/


/*Desktop Resizing - Medium*/
@media (min-width: 750px) and (max-width: 1199px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 2rem;
        color: black;
    }
    .wrapper{
        display: grid;
        direction: ltr;
        grid-auto-rows:350px;
        grid-template-columns:1fr 1fr;
        grid-gap:4em;
    }
    .wrapper > div{
        font-size:1em;
        text-align: center;
        background: rgba(211, 211, 211, 0.85);
        box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
    }

    .box2,.box4,.box8,.box12,.box13, .box11{
        display: none;
    }

    .photo{
        width:2rem;
        border-radius: 100%;
        display: inline;
    }

    .box1{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box1-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/nut-2348816_1280.jpg);
        text-shadow: 1px 1px 4px black;

        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box1-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }


    .box3{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box3-title{
        grid-column: 1/2;
        grid-row:1/2;
        grid-area: box3;
        background: url(../img/computer-2557644_1920.jpg);
        text-shadow: 1px 1px 4px black;

        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box3-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }


    .box5{
        display: none;
    }


    .box6{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box6-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/grunt-task-runner.png);
        text-shadow: 1px 1px 4px black;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #fba919;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .box6-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box7{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box7-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/computer-2583383_1920.jpg);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box7-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box9{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box9-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/plasma-ball-2282449_1920.jpg);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box9-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box10{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }
    .box10-title {
        grid-column: 1/2;
        grid-row: 1/2;
        background: url(../img/es6-recursion.png);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box10-title span:first-child{
        font-size:3em;
    }

    .box10-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

   /* .box11{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
    }

    .box11-title{
        grid-column: 1/2;
        grid-row:1/2;
        padding-top: 1rem;
        background: url(../img/coding-1841550_1920.jpg);
        background-size: cover;
        height:100%;
        cursor: default;
    }

    .box11-title span:first-child{
        font-size:3em;
    }

    .box11-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
        cursor: default;
    }
*/
}


/****************************************************
RESPONSIVE Layout -DeskTop and Big Fucking Screens *3
*****************************************************/

@media (min-width:1200px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 2rem;
        color: black;
    }
    .wrapper{
        display: grid;
        direction: ltr;
        grid-auto-rows:minmax(150px, auto);
        background: white;

        grid-template-areas:
                "box3 box3 box3 box2 box2 box1 box1"
                "box6 box6 box5 box5 box5 box1 box1"
                "box6 box6 box9 box9 box4 box7 box7"
                "box10 box10 box9 box9 box8 box7 box7"
                "box13 box13 box13 box12 box11 box11 box11"
    ;

    }

    .wrapper > div{
        color:black;
        font-family:  'Open Sans Hebrew', sans-serif;
        font-size:1em;
        text-align: center;
        box-shadow: 0 1px 5px 0 rgba(0,1,1,0.3);
        margin:0.65em;
    }

    .box3-date-container,.box5-date-container,.box10-date-container,.box11-date-container{
        display: none;
    }

    .photo{
        width:2rem;
        border-radius: 100%;
        display: inline;
    }



    .box1{
        grid-area: box1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
        border: 2px solid white;

    }

    .box1-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/nut-2348816_1280.jpg);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box1-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    .box2{
        grid-area: box2;
        background: url(../img/web-design-2906159_1920.jpg);
        background-size: cover;
        grid-template-rows: 100%;
        border: 2px solid white;

    }

    .box2 a{
        grid-row:1/2;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .box3{
        grid-area: box3;
        background: url(../img/computer-2557644_1920.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: 2px solid white;
    }

    .box3-title .article-title{
        display: block;
        font-size: 3em;
        text-shadow: 1px 1px 4px black;
    }

    .box3-title .article-subtitle{
        font-size: 1.5em;
        text-shadow: 1px 1px 4px black;
    }

    .box4{
        grid-area: box4;
        background: url(../img/jsbox.png);
        background-size: cover;
        background-position: 50%;

    }

    .box4 a{
        grid-row:1/2;
        height: 100%;
        min-width: 125px;
        display: block;
    }

    .box5{
        grid-area: box5;
        background-color: #F0F0F0;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .box5 a{
        grid-row:1/2;
        height: 100%;
        display: block;
    }

    /*article arguments*/
    .box6{
        grid-area: box6;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
        border: 2px solid white;

    }

    .box6-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url(../img/grunt-task-runner.png);
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-position: 50%;

    }

    .box6-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }

    /*hoisting*/
    .box7 {
        grid-area: box7;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
        border: 2px solid white;

    }

    .box7-title{
        grid-column: 1/2;
        grid-row:1/2;
        background: url('../img/computer-2583383_1920.jpg');
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box7-date-container{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: dotted 1px grey;
        background-color: #efefef;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
    }


    .box8{
        grid-area: box8;
        background: url(../img/giphy4.gif);
        background-size: cover;
        background-position: 50%;
    }

    .box8 a{
        display: block;
        height:100%;
        min-width: 125px;
    }
    /*dom box*/
    .box9{
        grid-area: box9;
        display: grid;
        grid-template-columns: 100%;
            grid-template-rows: 85% 15%;
        background: url(../img/plasma-ball-2282449_1920.jpg);
        background-size: cover;
        border: 2px solid white;
    }

    .box9-title{
        grid-column: 1/2;
        grid-row:1/2;
        text-shadow: 1px 1px 4px black;
        background-size: cover;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box10{
        grid-area: box10;
        background: url(../img/es6-recursion.png);
        background-size: cover;
        border: 2px solid white;
    }

    .box10-title{
        background-size: cover;
        text-shadow: 1px 1px 4px black;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box11{
        grid-area: box11;
        background: url(../img/coding-1841550_1920.jpg);
        background-size: cover;
        cursor: default;
    }

    .box11-title{
        background-size: cover;
        text-shadow: 1px 1px 4px black;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: default;
    }

    .box12{
        grid-area: box12;
        background: url(../img/lorem-ipsum-filler-text.jpg);
        background-size: cover;
    }

    .box12 a{
        display: block;
        height: 100%;
        min-width: 125px;
    }

    .box13{
        grid-area: box13;
        background-color: #3d5b99;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box13 .quote{
        font-size: 1.25em;
        color:white;
    }


    .hover-zoom:hover {
        -moz-transform: scale(1.15,1.15);
        -webkit-transform: scale(1.15,1.15);
        transform: scale(1.15,1.15);
        transition: all 0.7s ease-in-out;
    }


}


