body{
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 10fr 1fr;
    background-color: black;
    color:#fff;
    font-size: 1.8vw;
    height:3.5vw;

}

nav>ul{
    list-style-type: none;
    margin:0;
    padding: 0.1vh 1vw;
    box-sizing: border-box;
}

nav>ul>li{
    float:right;
    margin:0;
    padding: 0.6vw 0 0 0;
    padding-left:1vw;
}

nav>ul>li>a{
    padding: 0.4vw 0 0 0;
    color:#fff;
    text-decoration: none;
}

nav>ul>li>a:hover{
    border-top: 0.7vw solid #fff;
    transition: all .1s ease-in-out;
}
header>.logo{
    padding: 0.6vw 0 0 0;
    text-align: center;
}