.header1 {
    text-align: center;
}


/* Grid */

.col {
    background-color: red;
    margin: 2%;
    height: 31vh;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.3);
    border-radius: 47.3px 0px;
}

.undercol {
    background-color: yellow;
    position: absolute;
    display: inline-block;
    height: 19.3%;
    width: 100.1%;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 30.6px 0px;
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.3);
}