@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
footer {
  background-color: #eee;
  text-align: center;
  font-family: "Alef Hebrew", sans-serif;
  font-size: 1.3rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  justify-content: space-evenly;
}

footer ul>li {
  list-style: none;
  padding: 10px;
  /*  background-color: #29C3FF;*/
}

footer ul>li:nth-child(odd) {
  color: #93A2A8;
}

footer ul>li:nth-child(even) {
  color: #E2DDE7;
}

footer ul>li:hover {
  background-color: #fff;
  /*  flex: 1;*/
  /*  font-size: 1.5rem;*/
  color: #E2DD11;
  /*  background-repeat: no-repeat;*/
}


/*
footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows:minmax(50px, auto);
  margin-right: -40px;
 grid-gap: 0.5em;
}
*/

.about,
.footer-bottem {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about {
  border-bottom: 1px dotted black;
}

.footer-bottem {
  border-top: 0.5px solid grey;
  font-size: 1rem;
}

.miner {
  width: 21.3%;
  position: relative;
  left: 11.3%;
}

.footerName {
  font-family: monospace;
  font-size: 1.4em;
  margin-left: 8.1%;
}